body {
  background: #fefefe;
  background-image: linear-gradient(to bottom right, #145b3b, #c9d436, #efb13d);
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

.guess {
  margin-top: 50px;
  text-align: center;
}

.guess > input {
  background-color: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 4px;
  padding: 0;
  margin: 25px 6px 0;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 32px;
  line-height: 1.29;
  text-transform: uppercase;
  background-clip: padding-box;
}

.guess > input:focus {
  border: 2px solid skyblue;
  outline: 0;
  box-shadow: 0px 0px 3px rgba(131, 192, 253, 0.5);
}

.guess > input:disabled {
  background: #dddddd;
}

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

::selection {
  background: transparent;
}

.container {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

input {
    font-family: 'Major Mono Display', monospace;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 3em;
    color: #444;
    text-align: center;
}

.input-container {
    position: relative;
    width: 350px;
}

#minus,
#plus {
    font-family: 'Major Mono Display', monospace;
    background: #6240e8;
    color: #fff;
    font-weight: 900;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 60px;
    height: 100%;
    cursor: pointer;
}

#minus {
    content: "-";
    top: 0;
    left: 0;
}

#plus {
    content: "+";
    right: 0;
    top: 0;
}